<style>
    .colour-preview span {
        font-size: 1rem;
        font-weight: bold;
    }
    .color-preview {
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 6rem;
    }
    .success {
        color: green;
    }
    .error {
        color: red;
    }
    .sliders {
        margin: 2rem;
    }
</style>
<div class="farb-editor">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Farb-Editor</h2>
        </div>
    </md-toolbar>

    <div class="tool-header" md-primary>
        <md-button ui-sref="farb-liste">
            <md-icon>keyboard_backspace</md-icon>
        </md-button>
    </div>
    <div class="sliders">
        <div layout="row">
            <md-input-container flex="20">
                <label>Name</label>
                <input type="text" ng-model="$ctrl.name">
            </md-input-container>

            <div class="color-preview" style="background-color: {{$ctrl.localHex}}">
                <span style="color: {{ $ctrl.helligkeit() &lt; 128 ? 'white' : 'black' }}">{{$ctrl.localHex}}</span>
            </div>
            <div>
                <md-button ng-click="$ctrl.updateColor()" ng-disabled="$ctrl.id === 0">
                    <md-icon>save</md-icon>
                </md-button>
            </div>
            <div>
                <md-button ng-click="$ctrl.saveColor()">
                    <md-icon>add_circle</md-icon>
                </md-button>
                <span class="error">{{$ctrl.error}}</span>
                <span class="success">{{$ctrl.success}}</span>
            </div>
        </div>

        <div class="rgb-wert" layout="row" layout-align="start center">
            <md-input-container flex="20">
                <label>Red</label>
                <input type="number" ng-model="$ctrl.red" ng-change="$ctrl.colorChange()">
            </md-input-container>
            <md-slider flex min="0" max="255" ng-model="$ctrl.red" ng-change="$ctrl.colorChange()"></md-slider>
        </div>
        <div class="rgb-wert" layout="row" layout-align="start center">
            <md-input-container flex="20">
                <label>Green</label>
                <input type="number" ng-model="$ctrl.green" ng-change="$ctrl.colorChange()">
            </md-input-container>
            <md-slider flex min="0" max="255" ng-model="$ctrl.green" ng-change="$ctrl.colorChange()"></md-slider>
        </div>
        <div class="rgb-wert" layout="row" layout-align="start center">
            <md-input-container flex="20">
                <label>Red</label>
                <input type="number" ng-model="$ctrl.blue" ng-change="$ctrl.colorChange()">
            </md-input-container>
            <md-slider flex min="0" max="255" ng-model="$ctrl.blue" ng-change="$ctrl.colorChange()"></md-slider>
        </div>

    </div>
</div>