<style>
    .preview {
        text-align: center;
    }
    .updated {
        padding-left: 1%;
    }
</style>
<div class="farb-item" layout="row" flex>
    <span flex="20">{{$ctrl.farbe.title}}</span>
    <div flex="40" class="preview" style="background-color: {{$ctrl.farbe.hexWert()}}"><span
            style="color: {{$ctrl.farbe.helligkeit() &lt; 128 ? 'white' : 'black'}}">
        {{$ctrl.farbe.hexWert()}}
    </span></div>
    <span flex="20" class="updated">last updated: <b>{{$ctrl.farbe.updated | timeDiff: $ctrl.jetzt()}}</b></span>
    <md-button flex="10" ui-sref="farb-editor({ farbe: $ctrl.farbe })">
        <md-icon>edit</md-icon>
    </md-button>
    <md-button flex="10" ui-sref="local-list({ farbe: $ctrl.farbe })" ng-show="$ctrl.showPlus">
        <md-icon>add</md-icon>
    </md-button>
</div>