<style>
    .farb-items {
        width: 60%;
        padding: 20px;
    }
</style>
<div class=farbliste>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Farb-liste</h2>
        </div>
    </md-toolbar>
    <div layout="row">
        <md-input-container>
            <label>Suche</label>
            <input type="text" ng-model="$ctrl.searchInput" ng-change="$ctrl.search()"
                   ng-model-options="{debounce: 300}">
        </md-input-container>
        <div class="option-buttons">
            <div layout="column" flex="33" flex-sm="100" flex-xs="100" layout-align="center center">
                <md-menu>
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon>sort</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in $ctrl.sortingMenueItems">
                            <md-button ng-click="$ctrl.sortList($index)">
                                <span md-menu-align-target>sort by </span> {{item}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
        <div class="add-button">
            <md-button ui-sref="farb-editor">
                <md-icon>add_circle</md-icon>
            </md-button>
        </div>
        <div class="local-button">
            <md-button ui-sref="local-list">
                <md-icon>bookmarks</md-icon>
            </md-button>
        </div>
    </div>
    <div class="farb-items">
        <farb-item class="color-item" ng-repeat="farbe in $ctrl.farbListe" farbe="farbe" show-plus="true"></farb-item>
    </div>
</div>