<div class="local-list">
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Local List</h2>
        </div>
    </md-toolbar>
<div class="tool-header" layout="row" md-primary>

    <div class="return-button" md-primary>
        <md-button ui-sref="farb-liste">
            <md-icon>keyboard_backspace</md-icon>
        </md-button>
    </div>
    <div class="clear-button" md-primary>
        <md-button ui-sref="farb-liste" ng-click="$ctrl.clearLocal()">
            <md-icon>delete_sweep</md-icon>
        </md-button>
    </div>
</div>
    <farb-item ng-repeat="farbe in $ctrl.farbListe" farbe="farbe" show-plus="false"></farb-item>
</div>